# DPDK kernel requirements for TH1520
CONFIG_HUGETLBFS=y
CONFIG_HUGETLB_PAGE=y
CONFIG_UIO=m
CONFIG_UIO_PDRV_GENIRQ=m
CONFIG_VFIO=m
CONFIG_VFIO_PCI=m
CONFIG_VFIO_NOIOMMU=y
CONFIG_PCI_MSI=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_CMA=y
CONFIG_DMA_CMA=y
CONFIG_EVENTFD=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_XDP_SOCKETS=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT=y
CONFIG_NET_XDP=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_DEBUG_INFO_DWARF5=y